pandas
nltk
scikit-learn
numpy
matplotlib
seaborn
transformers
datasets
evaluate
accelerate
arabic_reshaper
python-bidi
ipywidgets
torch
regex
streamlit
plotly
arabert
keras
tensorflow
openpyxl
rouge-score